# 01_02: Lists, tuples, and the slicing syntax

In [32]:
import math
import collections
import dataclasses
import datetime

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

In [33]:
nephews = ['Huey', 'Dewey', 'Louie']

In [34]:
nephews

['Huey', 'Dewey', 'Louie']

In [35]:
len(nephews)

3

In [36]:
len([])

0

In [37]:
nephews[0]

'Huey'

In [38]:
nephews[2]

'Louie'

In [39]:
nephews[3]

IndexError: list index out of range

In [40]:
nephews[-1]

'Louie'

In [41]:
# penultimate nephew 
nephews[-2]

'Dewey'

In [42]:
for i in range(3):
    nephews[i] = nephews[i] + ' Duck'

In [43]:
nephews

['Huey Duck', 'Dewey Duck', 'Louie Duck']

In [44]:
mix_it_up = [1, [2, 3], 'alpha']

In [45]:
mix_it_up

[1, [2, 3], 'alpha']

In [46]:
'Huey' in nephews

False

In [47]:
'Huey Duck' in nephews

True

In [48]:
nephews.append('April Duck')

In [49]:
nephews

['Huey Duck', 'Dewey Duck', 'Louie Duck', 'April Duck']

In [50]:
# To add multiple elements in one go
nephews.extend(['May Duck', 'June Duck'])

In [51]:
nephews

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck']

In [52]:
ducks = nephews + ['Donald Duck', 'Daisy Duck']

In [53]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [54]:
# Insert item into any position 
ducks.insert(0, 'Scrooge McDuck')

In [55]:
ducks

['Scrooge McDuck',
 'Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [56]:
# Delete any element 
del ducks[0]

In [57]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [58]:
ducks.remove('Donald Duck')

In [59]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Daisy Duck']

In [60]:
ducks.sort()

In [61]:
ducks

['April Duck',
 'Daisy Duck',
 'Dewey Duck',
 'Huey Duck',
 'June Duck',
 'Louie Duck',
 'May Duck']

In [62]:
reverse_ducks = sorted(ducks, reverse=True)

In [63]:
reverse_ducks

['May Duck',
 'Louie Duck',
 'June Duck',
 'Huey Duck',
 'Dewey Duck',
 'Daisy Duck',
 'April Duck']

In [64]:
for duck in ducks:
    print(duck, "quacks!")

April Duck quacks!
Daisy Duck quacks!
Dewey Duck quacks!
Huey Duck quacks!
June Duck quacks!
Louie Duck quacks!
May Duck quacks!

In [65]:
squares = [1, 4, 9, 16, 25, 36, 49]

In [66]:
squares[0:2]

[1, 4]

In [ ]:
squares[:4]

In [67]:
squares[3:]

[16, 25, 36, 49]

In [68]:
# Get the copy of the entire list 
squares[:]

[1, 4, 9, 16, 25, 36, 49]

In [69]:
# Move through indices in steps
squares[0:7:2]

[1, 9, 25, 49]

In [70]:
# Exclude the item of -1 index but inlcude the item of -3 index
squares[-3:-1]

[25, 36]

In [ ]:
# reverse the list!
# list[start:stop:step]
# start (before the first :) → empty, meaning it defaults to the beginning of the list (index 0).
# stop (between the two colons) → empty, meaning it defaults to the end of the list.
squares[::-1]

In [71]:
squares[2:4] = ['four', 'nine']

In [72]:
squares

[1, 4, 'four', 'nine', 25, 36, 49]

In [73]:
del squares[4:6]

In [74]:
squares

[1, 4, 'four', 'nine', 49]

In [75]:
integers = ('one', 'two', 'three', 'four')

In [76]:
integers

('one', 'two', 'three', 'four')

In [77]:
integers[-1], integers[1:3]

('four', ('two', 'three'))

In [78]:
# tuple is an immutable version of lists 
# Once a tuple is defined, we cannot modify its element
# This is a feature not a bug

integers[0] = 1

TypeError: 'tuple' object does not support item assignment

In [79]:
(a, b) = (1, 2)

In [ ]:
# The parenthesis can even be omitted when there is no room for ambiguity
c, d = 3, 4

In [80]:
# Using the enumerator iterator, let us loop over list indices and list elements together 
for i, duck in enumerate(ducks):
    print(i, duck)

0 April Duck
1 Daisy Duck
2 Dewey Duck
3 Huey Duck
4 June Duck
5 Louie Duck
6 May Duck

In [86]:
def print_three_args(a, b, c):
    print(a, b, c)

In [87]:
my_args = (1,2,3)

In [89]:
# The * operator is unpacking the tuple,
#  meaning it takes each element from my_args and
#  passes them as separate positional arguments to the function

# Without the *, the function would receive the entire tuple as a single argument, causing an argument mismatch
print_three_args(*my_args)

1 2 3

In [84]:
# The *args syntax is used to collect an arbitrary number of positional arguments into a tuple
# When calling any_args(1,2,3), the function receives all the arguments and packs them into the args tuple
def any_args(*args):
    print(args)

In [85]:
any_args(1,2,3)

(1, 2, 3)